.icon {
  display: block;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 30px;
}

.nav-link {
  right: 6px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  text-align: left;
}

.nav-link-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  text-align: left;
}

.nav-link-3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  text-align: center;
}

.nav-link-4 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  text-align: center;
}

.navbar {
  background-color: #ede4d8;
  text-align: left;
}

.body {
  padding-right: 0px;
  border: 1px none #000;
  background-color: #ede4d8;
  text-align: center;
  background-clip: border-box;
}

.section {
  min-height: 200px;
  margin: 40px;
  border-radius: 0px;
  background-color: transparent;
  background-image: url('../images/RRH-Background.png');
  background-position: 100% 100%;
  background-size: cover;
  background-repeat: repeat-x;
  opacity: 1;
  -webkit-filter: blur(0px);
  filter: blur(0px);
  background-clip: padding-box;
}

.section-2 {
  min-height: 200px;
  margin: 40px;
  background-image: url('../images/Group-3.png');
  background-position: 80% 50%;
  background-size: 1200px;
  background-repeat: repeat;
  background-attachment: scroll;
  -webkit-filter: blur(0px);
  filter: blur(0px);
}

.section-3 {
  min-height: 200px;
  margin: 20px 40px;
  border-radius: 0px;
  background-color: #ede4d8;
  background-image: url('../images/Group-2.png');
  background-position: 80% 95%;
  background-size: 1200px;
  background-repeat: repeat;
  background-attachment: scroll;
  opacity: 1;
  -webkit-filter: blur(0px);
  filter: blur(0px);
  background-clip: border-box;
}

.image {
  background-image: url('https://d3e54v103j8qbb.cloudfront.net/img/background-image.svg');
  background-position: 0px 0px;
  background-size: auto;
}

.div-block {
  display: inline-block;
  width: 50%;
  height: 100px;
  margin-top: 60px;
  float: none;
  clear: none;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  background-color: rgba(111, 119, 106, 0.74);
  -webkit-filter: blur(0px);
  filter: blur(0px);
  background-clip: border-box;
}

.heading {
  margin-top: 0px;
  -webkit-filter: blur(0px);
  filter: blur(0px);
}

.container {
  margin-bottom: 0px;
}

.heading-2 {
  margin-top: 10px;
  margin-bottom: 40px;
  padding-top: 20px;
  text-align: center;
}

.menu-button {
  padding-top: 40px;
}

.heading-3 {
  position: absolute;
  left: auto;
  top: 0%;
  right: 0%;
  bottom: auto;
  padding-right: 10px;
  clear: none;
  background-color: rgba(0, 0, 0, 0.3);
  color: #fff;
  text-align: right;
}

.text-block {
  position: absolute;
  left: auto;
  top: 32%;
  right: 0%;
  bottom: auto;
  max-width: 30%;
  padding-right: 10px;
  float: right;
  background-color: rgba(0, 0, 0, 0.28);
  color: #fff;
  font-size: 16px;
  text-align: right;
}

.div-block-2 {
  background-color: #000;
  -o-object-fit: fill;
  object-fit: fill;
}

@media screen and (max-width: 991px) {
  .heading-3 {
    right: 3px;
    padding-right: 5px;
    border-radius: 0px;
    background-color: rgba(0, 0, 0, 0.28);
  }

  .text-block {
    left: auto;
    top: 30%;
    right: 3px;
    bottom: auto;
    max-width: 40%;
    padding-top: 3px;
    padding-right: 10px;
    background-color: rgba(0, 0, 0, 0.36);
  }
}